.odin-recipes {
    text-align: center;
    font-size: 50px;
}

body {
    background-color: #9893ad;
}

#welcome {
    text-align: center;
    font-size: 25px;
}

.lasagna-container {
    text-align: center;
    font-family: "Times New Roman", Arial, Serif;
    background-color: rgba(235, 81, 15, 0.5);
    width: 50%;
    margin: auto;
    padding: 18px;
    border-radius:20px;

}

.lasagna-container img {
    background-color: rgba(209, 190, 117, 0.5);
    width: 50%;
    margin: auto;
    padding: 18px;
    border-radius: 20px;
}

.mac-container {
    text-align: center;
    font-family: "Times New Roman", Arial, Serif;
    background-color: rgba(251, 190, 22, 0.5);
    width: 50%;
    margin:auto;
    padding: 18px;
    border-radius:20px;
}

.mac-container img {
    background-color: rgba(209, 190, 117, 0.5);
    width: 50%;
    margin: auto;
    padding: 18px;
    border-radius: 20px;
}

.omelette-container {
    text-align: center;
    font-family: "Times New Roman", Arial, Serif;
    background-color: rgba(209, 190, 117, 0.5);
    width: 50%;
    margin: auto;
    padding: 18px;
    border-radius: 20px;
}

.omelette-container img {
    background-color: rgba(209, 190, 117, 0.5);
    width: 45%;
    margin: auto;
    padding: 18px;
    border-radius: 20px;
}
/* This message defines the border of the lasagna CSS */

.body-background {
    background-color: burlywood;
    margin: 0;
    padding: 0;
}

.img-l-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 50vh;
    text-align: center;
}

.img-1 {
    order: 1;
    margin-left: 20px;
    border-style: outset;
    border-width: 5px;
    border-color: rgba(195, 61, 61, 0.2)
}

.img-2 {
    order: 3;
    margin-right: auto;
    border-style: outset;
    border-width: 5px;
    border-color: rgba(195, 61, 61, 0.2)
}

.img-3 {
    order: 2;
    margin: auto;
    border-style: outset;
    border-width: 5px;
    border-color: rgba(195, 61, 61, 0.2)
}

.l-desc, .ingredients-l, .steps-l {
    display:table;
    border-style: outset;
    border-width: 5px;
    border-color: gold;
    border-radius: 10px;
    padding: 5px;
    margin: 20px auto;
}

.finished {
    text-align: center;
}

/* This message defines the border of the mac n cheese CSS */
*{
    box-sizing: border-box;
}
.mac-body {
    margin: 0;
}
.mac-header {
    background-color: hsl(17, 100%, 74%);
    text-align: center;
    padding: 25px;
}

.nav-bar {
    background-color: hsl(34, 97%, 53%);
    height: 50px;
}
.description-m {
    width: 20%;
    float: left;
    padding: 10px;
}
.ingredients-m {
    width: 40%;
    float: left;
    padding: 10px;
}
.steps-m {
    width: 60%;
    float: left;
    padding: 10px;
}
.footer-mac {
    display: block;
    clear: both;
    background-color: hsl(17, 100%, 74%);
    text-align: center;
    padding: 50px;
}
.img-m {
    position: relative;
    left: 60px;
    top: 45px;
}
@media screen and (max-width: 600px){
    .description-m, .ingredients-m, .steps-m{
        width: 100%;
    }
}